---
layout: default
title: Home
---

<!-- <div id="about-me" style="">
  <h1>Hey,</h1>

  I appreciate you visiting my home page.
  <p><br style="line-height: 1.5em;"/>Here are some things I've written about topics I enjoy. 
    <br/>
    Take a look at my <a href="/projects">projects</a> for more.
    <br/>
    <br/>
    <span style='font-family: "Permanent Marker"; font-size: xx-large;'>-Danny Denenberg</span>
    <br/><br/>
    <span style="font-family: monospace;">danny [at] denenberg [dot] com</span>
  </p>

</div> -->

<!-- <hr> -->

<h1>Latest Posts</h1>

{% assign postsByYearMonth = site.posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}
{% for yearMonth in postsByYearMonth %}
  <h2>{{ yearMonth.name }}</h2>
  <ul>
    {% for post in yearMonth.items %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}

<!-- <div id="section-title">
  <h2 style="padding-bottom: 10px;">What's new?</h2>
  <ul style='text-align: initial' id="favorites">
    {% for post in site.posts limit:4 %}
    <li>
      <a href="{{post.url}}">{{post.title}}</a><span class="post-date">{{ post.date | date_to_string }}</span>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="section-title">
  <h2 style="padding-bottom: 10px;">A few of my favorites.</h2>
  <ul style='text-align: initial' id="favorites">
    <li>
      <a href="{% post_url 2020-03-21-go-strings %}">Strings in go (and what the heck utf-8 is)</a><span
        class="post-date">21 Mar 2020</span>
    </li>
    <li>
      <a href="{% post_url 2020-01-02-complete-guide-to-nn %}">A complete approach to neural networks</a><span
        class="post-date">2 Jan 2020</span>
    </li>
    <li>
      <a href="{% post_url 2020-03-12-hash-function %}">How hash functions work</a><span class="post-date">12 Mar
        2020</span>
    </li>
    <li>
      <a href="{% post_url 2020-02-14-jwt-expressjs %}">JSON web tokens with Node and Express.js</a><span
        class="post-date">14 Feb 2020</span>
    </li>


    <li>
      <a href="{% post_url 2019-08-05-securing-db %}">Securing your database</a><span class="post-date">5 Aug
        2019</span>
    </li>
    <li>
      <a href="{% post_url 2018-12-14-recursion %}">Recursive programming</a><span class="post-date">14 Dec 2018</span>
    </li>
  </ul>
</div> -->
<!-- 
<br />
<div id='down-arrow'>
  <span>&darr;</span>
</div> -->



<br />




<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />




<style>
  #down-arrow {
    text-align: center;
    font-size: 4em;
    padding: .4em;
  }

  #favorites li {
    padding: 2px;
  }

  #home-img {
    float: left;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

  @media only screen and (min-width: 600px) {
    #about-me {
      /* margin-left: 18em; */
    }
  }

  #school-logo {
    float: right;
    width: 39px;
  }


  #section-title {
    /* text-align: center; */
  }

  .post-date {
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    float: right;
  }

  #photo-div {
    /* width: 515px; */
  }
</style>
<!-- ---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}/">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}/">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
