<a id="contact-link" href="http://github.com/dannydenenberg">
      <img
        class="icon"
        style="display:inline;"
        src="/goods/github.svg"
        width="40"
        alt=""
        srcset=""
      />
</a>

<a id="contact-link" href="http://linkedin.com/in/dannydenenberg">
      <img
        class="icon"
        style="display:inline;"
        src="/goods/linkedin.svg"
        width="40"
        alt=""
        srcset=""
      />
</a>

<style>
      #contact-link {
            float: left;
            padding: 20px;
</style>


