// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 32rem;
  margin: 0 auto;
}

footer {
  margin-bottom: 2rem;

  #icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    .icon {
      display: inline !important;
      padding: 5px;
    }
  }
}
