<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/tufte.css" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"]
          ],
          displayMath: [
            ["$$$", "$$$"],
            ["!!", "!!"]
          ]
        },
        svg: {
          fontCache: "global"
        }
      };
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% if page.title == "Home" %} {{ site.title }}{% if site.tagline %}
      &middot; {{ site.tagline }}{% endif %} {% else %} {{ page.title }}
      &middot; {{ site.title }} {% endif %}
    </title>
  </head>
  <body>
    <article class="main">
      <div class="title">{{ page.title }}</div>
      <div class="author">{{ site.author.name }}</div>
      <div class="date">{{ page.date | date: "%-m/%-d/%Y" }}</div>

      {{ content }}
    </article>

    <!-- {% if site.related_posts != empty %}
    <aside class="related">
      <h3>Related posts</h3>
      <ul class="related-posts">
        {% for post in site.related_posts limit:3 %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small
              ><time datetime="{{ post.date | date_to_xmlschema }}"
                >{{ post.date | date_to_string }}</time
              ></small
            >
          </a>
        </li>
        {% endfor %}
      </ul>
    </aside>
    {% endif %} -->
  </body>
</html>
